.radio__item {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.radio__item+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.radio__item+label::before {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #BAD8F5;
	border-radius: 50%;
	margin-right: 0.5em;
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center center;
}

.radio__item:not(:disabled):not(:checked)+label:hover::before {
	border-color: #b3d7ff;
}

.radio__item:not(:disabled):active+label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

.radio__item:focus+label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.radio__item:focus:not(:checked)+label::before {
	border-color: #80bdff;
}

.radio__item:checked+label::before {
	border-color: #459DF5;
    background-color: #459DF5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
	background-size: 60%;
}

.radio__item:disabled+label::before {
	background-color: #e9ecef;
}